<div class="p-5 mb-4 bg-light rounded-3 text-center">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">91714193 이강봉</h1>
    <p>웹어플리케이션보안(캡스톤디자인)</p>
    <button class="btn btn-primary btn-lg" type="button" routerLink="/register">
      Register
    </button>
    &nbsp;
    <button class="btn btn-success btn-lg" type="button" routerLink="/login">
      Login
    </button>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">최종장박봉</h5>
          <h6 class="card-subtitle mb-2 text-muted">조이름</h6>
          <p class="card-text">RESERVE 통합 예약 웨이팅 시스템</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">고객페이지</h5>
          <h6 class="card-subtitle mb-2 text-muted">바로가기</h6>
          <p class="card-text">고객전용 예약 시스템</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">식당페이지</h5>
          <h6 class="card-subtitle mb-2 text-muted">바로가기</h6>
          <p class="card-text">식당전용 예약 시스템</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
